body{
	background-image: url("https://static.vecteezy.com/system/resources/previews/001/227/153/large_2x/wood-table-texture-free-photo.jpg");
}
#scorePosition{
	float: left;
	font-weight: bold;
	margin-bottom: 50px;
	text-align: right;
	width: 25%;
}
#scorePosition thead{
	font-size: 20px;
	background: linear-gradient(to bottom, #A1661F 5%, #B67425 25%, #DF8F2F);
}

#upper-bonus td {
    background: linear-gradient(to bottom, #6f6f6f 5%, #9a9a9a 25%, #afadad);
}

#div2{
	float: left;
	width: 75%;
	height: 200px;
	margin: 10px;
	background: linear-gradient(to bottom, #32D2E1 5%, #29E3F5 25%, #00E9FF);
}

#div3{
	float: left;
	width: 75%;
	height: 200px;
	margin: 10px;
	background: linear-gradient(to bottom, #139BD2 5%, #17ADE9 25%, #18BAFB);
}

.dado{
	display: inline-block;
	margin: 25px;
}
.dado:hover{
	transform: scale(1.2) !important;
	cursor: pointer;
}
#lanzadado{
	float: right;
	color: black;
	font-weight: bold;
	margin: 10px;
	font-size: 20px;
  	line-height: 50px;
  	text-align: center;
  	width: 200px;
  	height: 100px;
  	background: linear-gradient(to bottom, #2F9C11 5%, #39C114 25%, #44EA17);
}